option_settings:
  aws:rds:db:
    DBAllocatedStorage: 20
    DBEngine: mysql
    DBEngineVersion: 8.0.35
    DBInstanceClass: db.t3.micro
    DBUser: admin
    MultiAZDatabase: false
    StorageType: gp2
    
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: '`{ "Fn::GetAtt" : [ "AWSEBSecurityGroup", "GroupId" ] }`'
    RDS_PORT: 3306
    RDS_DB_NAME: student_attendance
    RDS_USERNAME: admin
    # RDS_PASSWORD is set automatically by EB when RDS is created
